@import "tailwindcss";

@theme {
  --color-primary: #351f5b;
  --color-secondary: rgb(53 31 91);
  --color-background-light: #f7f6f8;
  --color-background-dark: #18141e;

  --font-display: "Lexend", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.glass-nav {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(53, 31, 91, 0.1);
}

body {
  font-family: 'Lexend', sans-serif;
}

html {
  scroll-behavior: smooth;
}


@layer base {

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(53, 31, 91, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(53, 31, 91, 0.04) 1px, transparent 1px);
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}